@import "../../css/variables";

.button {
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 0.25rem 1rem;
  width: max-content;
  margin: 1rem auto;
  color: $primary-color;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgba(0,26,64,1) 0%, rgba(26,65,124,1) 40%, rgba(94,150,232,1) 100%);
  color: $secondary-color;
  transition: all 0.5s ease-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



// .button {
//   background: #fff;
//   border: none;
//   border-radius: 2rem;
//   padding: 0.25rem 1rem;
//   width: max-content;
//   margin: 1rem auto;
//   color: $primary-color;
//   // position: relative;
//   z-index: 0;
//   cursor: pointer;
// }

// // .button::before{
// //   content: '';
// //   height: 100%;
// //   width: 0px;
// //   top: 0;
// //   left: 0;
// //   border-radius: 2rem;
// // }
// .button::after{
//   content: '';
//   height: 100%;
//   width: 0px;
//   background: linear-gradient(0deg, rgba(0,26,64,1) 0%, rgba(26,65,124,1) 40%, rgba(94,150,232,1) 100%);
//   color: $secondary-color;
//   transition: 200ms ease-in-out;
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 10;
//   border-radius: 2rem;
// }

// .button:hover::after{
//   width: 100%;
//   z-index: 10;
// }

// .button:hover {
//   // cursor: pointer;
//   // background: linear-gradient(90deg, rgba(0,26,64,1) 0%, rgba(26,65,124,1) 40%, rgba(94,150,232,1) 100%);
//   color: $secondary-color;
//   // transition: 150ms ease-in-out;
//   // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
// }

