@use '../css/variables';

.alert{
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.alert-box{
    border: solid 1px variables.$primary-color;
    margin: 1rem;
    background-color: variables.$primary-color;
    flex-grow: 1; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.alert-box p{
    text-align: center;
    color: variables.$secondary-color;
    padding: 2rem;
}

.table{
    border: solid 1px variables.$primary-color;
    margin: 1rem 0;
    display: grid;
    width: 100%;
    height: auto;
}
