@import '../css/variables';

.card-box{
    text-align: center;
    background-color: $success-color;
    border-radius: 10px;
    min-width: 5rem;
    min-height: fit-content;
    padding: 0.5rem;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-box p{
    
    color: $secondary-color;
    line-height: 2rem;
}

.card-box h2{
    color: $secondary-color;
    line-height: 2rem;
}

.card-box h1{
    color: $secondary-color;
    line-height: 3rem;
    font-size: 3rem;
    font-weight: 400;
}