@use "../css/variables";

.matrix {
  margin: 0 1rem 0 0;
}
.table {
  display: grid;
  // row-gap: 1rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: center;
}

.item{
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin: auto;
  border: 1px solid variables.$grey-color;
  width: fit-content;
  background-color: variables.$grey-color;
}

.styled-table th,
.styled-table td {
  padding: 0.5rem 0;
  // border: 1px solid #ccc;
  border: none;
  color: variables.$secondary-color;
}

.styled-table th {
  background-color: variables.$danger-color;
  color: variables.$secondary-color;
  font-weight: bold;
  padding: 0 0.5rem;
}

.styled-table thead tr:nth-child(1) th {
  background-color: variables.$danger-color;
  color: variables.$secondary-color;
}

.styled-table thead tr:nth-child(2) th {
  background-color: variables.$danger-color;
}

.styled-table .utilization {
  background-color: variables.$danger-color;
  color: variables.$secondary-color;
}

.styled-table td {
  font-size: 14px;
  color: variables.$primary-color;
}

.styled-table .negative {
  color: variables.$danger-color;
}

.styled-table td[colspan="2"] {
  background-color: variables.$danger-color;
}

.styled-table td[colspan="3"] {
  background-color: variables.$success-color;
  color: variables.$secondary-color;
}

.styled-table td.positive {
  color: variables.$success-color;
}