.op-sec .card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    grid-auto-flow: column;
    margin : 1.5rem 1rem;
}

.graph {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    grid-auto-flow: row;
    max-width: 100%; 
    box-sizing: border-box; 
}

.graph-2{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-flow: row;
    max-width: 100%; 
    box-sizing: border-box;
}

